*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'icomoon';
	src: url(../../fonts/icomoon.ttf);
}

body{
	overflow: hidden;
}

.wrapper{
	width:100%;
	height:100vh;
	background-image: url(../../img/webapp.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
}
h2{
	font-size: 22px;
	float: right;
	margin-right: 30px;
}
header{
	width:100vw;
	background-color: #ffa366;
	float: right;
	height: 54px;
	padding: 7px 0;
}
.lists{
	width:305px;
	background-color: white;
	height:100%;
	padding-bottom: 20px;
	padding-top: 70px;
}
.tasks{
	position: absolute;
	overflow-y: scroll;
	padding-right: 30px;
	height: 75vh;
	right:4vw;
	top:100px;
	padding-top: 10px;
}
.lists ul li{
	position: relative;
	list-style-type: none;
}
.lists ul li button{
	outline: none;
	background-color: white;
	border:none;
	height: 30px;
	width: 90%;
	cursor: pointer;
	text-align: left;
	font-size: 16px;
	color:#505050;
	padding-left: 30px;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
}
.lists ul li button:not(.deleteListButton):before{
	content: '\e912';
	font-family: 'icomoon';
	font-size: 16px;
	color:#909090;
	position: absolute;
	top: 6px;
	left: 5px;
}

.lists ul li button.goToListButton:before {
	content: '';
}

button.goToListButton {
	display: none;
}

@media screen and (max-width: 750px) {
	.lists ul li button.goToListButton {
		display: block;
		position: absolute;
		top: 12px;
		font-weight: bold;
		width: 50px;
		text-align: center;
		padding: 0;
		margin: 0;
		right: -8px;
		height: 26px;
		color: blue;
		border-left: 2px dashed #ffa366;
	}

	.lists ul li button {
		width: 100%;
	}
}
.user{
	position: absolute;
	left: 80px;
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 15px;
	color: white;
	font-size: 18px;
}
.createListButton{
	font-size: 18px;
	background-color: white;
	border: none;
	height: 60px;
	width: 305px;
	color: #707070;
	position: relative;
	cursor: pointer;
	outline: none;
	display: block;
	margin-top: 20px;
	position: fixed;
	top:48px;
	text-align: left;
	padding-left: 47px;
	border-bottom: 2px dashed #ffa366;
}
.createListButton span{
	font-size: 40px;
	outline: none;
	display: block;
	position: absolute;
	left: 18px;
	top: 10%;
}
.addList{
	z-index: 10;
	width: 300px;
	height: 160px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-150px, -80px);
	-webkit-box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
}
.addList input[type="text"]{
	width: 200px;
	display: block;
	margin: 20px auto;
	padding-left: 10px;
	height: 40px;
	border-radius: 5px;
	border:1px solid #909090;
	outline: none;
}
.addList input[type="submit"]{
	outline: none;
	border: none;
	background-color:  #ffa366;
	font-weight: bold;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	color: white;
	margin-left: 43px;
}
.addList label{
	font-size: 18px;
	color: #505050;
	margin: 10px 0;
	text-align: center;
	width: 295px;
	display: block;
}
.addList input.cancelButton{
	background-color: white;
	border: 1px solid #ffa366;
	color: #707070;
}
.addList input.cancelButton:hover{
	background-color: #ffa366;
	color: white;
}
.addTask input[type="text"]{
	width: 54vw;
	height: 40px;
	border: 1px solid #909090;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 120px;
	outline: none;
	margin-bottom: 30px;
	-webkit-box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
}
.addTask input[type="submit"]{
	width: 100px;
	line-height: 1em;
	height: 40px;
	border-radius: 0 5px 5px 0;
	outline: none;
	cursor: pointer;
	background-color: #ffa366;
	border: none;
	color: white;
	position: absolute;
	top: 11px;
	font-size: 40px;
	right: 30px;
	border-right: 1px solid #909090;
}
.tasks ul li{
	box-sixing: border-box;
	height: auto;
	background-color: white;
	list-style-type: none;
	padding:10px 10px 10px 30px;
	border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
	color: #505050;
	margin-bottom: 5px;
	-webkit-box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 32px -7px rgba(0,0,0,0.75);
}
.photoButton{
	background-color: white;
	background-image: url(../../img/photo.png);
	background-size: 100%;
	cursor: pointer;
	border: none;
	height:50px;
	width: 50px;
	outline: none;
	border-radius: 50%;
	margin-left: 20px;
}
.lists{
	overflow-y: scroll;
}
.lists ul li button.deleteListButton{
	position: absolute;
	width: 0;
	color: red;
	padding: 0;
	top: 0;
	right: 40px;
}
.taskCheckbox{
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 15px;
}
.showCompletedButton{
	font-size: 15px;
	background-color: #ffa366;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
	outline: none;
	display: block;
	top:48px;
	border-radius: 5px;
	border: none;
}
.finishedTasks{
	margin-top: 5px;
	opacity: 0.7;
}
.lists ul li button.active{
	border: 2px solid #ffa366;
	border-radius: 3px;
	margin-left: 10px;
}
.tasks ul li.active{
	background-color: rgba(255, 163, 102, 0.9);
}
.listName{
	position: absolute;
	top: 15px;
	right: -200px;
	font-size: 20px;
	color: white;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.authData {
	width: 315px;
	position: relative;
}
.logoutButton{
	display: inline-block;
	padding:2px 5px;
	text-decoration: none;
	position: absolute;
	left: 75px;
	top: 35px;
	color: white;
}
.logoutButton:hover{
	text-decoration: underline;
}
.tasks ul li label, .finishedTasks label{
	cursor: pointer;
	width: 100%;
	display: block;
}
::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #505050;
}
.listOptions label{
	overflow: hidden;
	text-overflow:ellipsis;
	margin-bottom: 30px;
	margin-top: 20px;
}
.setDateButton{
	outline: none;
	background-color: #ffa366;
	border:none;
	border-radius: 5px;
	height: 30px;
	padding: 5px 8px;
	margin-left: 41px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	text-align: left;
	font-size: 14px;
	color:white;
	margin-top: 10px;
}
.listOptions span{
	color: #505050;
	margin-left: 40px;
}
.calendar{
	padding-left: 5px;
	width:140px;
}

.backToListsButton {
	display: none;
}

@media screen and (max-width: 950px) {
	.tasks form input[type='text'] {
		width: 30vw;
	}

	.tasks {
		right: 4vw;
	}
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
	.tasks form input[type='text'] {
		width: 45vw;
	}
}

@media screen and (max-width: 750px) {
	.lists {
		width: 100%;
		position: absolute;
		z-index: 10;
		margin-top: 66px;
	}

	.lists ul {
		padding: 0 20px;
	}

	header {
		position: absolute;
		z-index: 15;
	}

	.lists ul li button.deleteListButton {
		right: 70px;
	}

	.createListButton {
		width: 100%;
	}

	.tasks form input[type='text'] {
		width: 55vw;
	}

	.backToListsButton {
		display: block;
	}

	.addTask input[type="submit"] {
		top: 68px;
	}

	.addTask input[type="text"] {
		margin-top: 20px;
	}

	.addList {
		transform: translate(-150px, -200px);
	}
}

@media screen and (max-width: 450px) {
	.wrapper {
		background-image: url(../../img/photo-mobile.png);
	}

	.tasks form input[type='text'] {
		width: 40vw;
	}

	.listName {
		right: 0;
		text-align: right;
		top: 35px;
		width: 100px;
	}
}

@media screen and (max-height: 450px) {
	.tasks {
		height: 65vh;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1600px){
	.tasks form input[type='text'] {
		width: 55vw;
	}
}

@media screen and (min-width: 1600px) {
	.tasks form input[type='text'] {
		width: 65vw;
	}

	.tasks ul li {
		height: 35px;
		font-size: 20px;
		line-height: 35px;
	}

	.tasks ul li input {
		margin-top: 6px;
	}

	.showCompletedButton {
		font-size: 20px;
	}

	.tasks form.addTask input {
		height: 60px;
	}

	.tasks form.addTask input[type="text"] {
		font-size: 20px;
	}

	.lists .createListButton{
		font-size: 20px;
	}

	.lists ul li button {
		font-size: 20px;
	}

	.authData .user{
		font-size: 24px;
		top: 7px;
	}

	.authData .listName {
		font-size: 25px;
	}

	.addList {
		width: 600px;
		height: 250px;
	}

	.addList label {
		font-size: 25px;
		width: 100%;
	}

	.addList input[type="text"] {
		width: 400px;
		font-size: 20px;
		margin-top: 30px;
	}
	.addList input[type="submit"] {
		font-size: 20px;
		margin-top: 30px;
	}

	.addList input[type="submit"]:not(.cancelButton) {
		margin-left: 180px;
	}
}